# О себе
{{{basics.summary}}}

## Контакты
{{#basics.profiles}}
{{{network}}}: {{{url}}}
{{/basics.profiles}}

# Образование
{{#education}}
## {{{institution}}}
{{{area}}}, {{{studyType}}}, {{{institutionDates}}}
### Курсы
{{#courses}}
- {{{.}}}
{{/courses}}
{{/education}}

# Опыт
{{#work}}
## {{{name}}}
{{{position}}}, {{{location}}}, {{{jobDates}}}
{{{summary}}}
{{#highlights}}
- {{{.}}}
{{/highlights}}

{{/work}}

# Проекты
{{#projects}}
## {{{name}}}
{{{projectDates}}}
{{{description}}}
{{{url}}}
{{#highlights}}
- {{{.}}}
{{/highlights}}

{{/projects}}

# Навыки
{{#skills}}
- {{{name}}}: {{#keywords}} {{{.}}}, {{/keywords}}
{{/skills}}
